.git
.pnpm-store
.turbo
node_modules
**/node_modules
**/.next
**/.pnpm-store
**/.turbo
**/dist
**/.terraform
**/*.tfstate
**/*.tfstate.*
**/tfplan
coverage
**/coverage
**/coverage-*
**/*.tsbuildinfo
.env
mockups
playwright-report
test-results
